.spoilerControl {
  display: none;
}

label {
  display: inline;
  background: #545452;
  border-radius: 2px;
  transition: background 1s ease-out;
  cursor: pointer;
}
 
label>* {
  z-index: -1;
  opacity: 0;
  position: relative;
}

.spoilerControl:checked + label {
  background: rgba(84, 84, 82, 0.1) !important;
  cursor: default !important;
}
 
.spoilerControl:checked + label>* {
  opacity: 1 !important;
  z-index: 1 !important;
}